<h1>Listing stocks</h1>
<h2>Cash on hand: <%= number_to_currency(@user.cash) %></h2>

<%= link_to "Refresh", user_stocks_path, :class => "button success", :remote => true %>

<div id="stocks_table">
  <%= render "stocks" %>
</div>

<h2>Add a New Stock</h2>

<div>
  <%= link_to "Add Stock", new_user_stock_path, :id => "new_stock", :class => "button", :remote => true %>
</div>

<br />
